body {
    margin: 0;
    padding: 0;
    /* Set the background image */
    background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* Adjust background image settings */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent the background from repeating */
}

.c {

    padding: 20px;
    color: #fff;
}
